{
  "presets": ["next/babel"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssr": true, //generate된 style이 server-side에서 적용되도록 함
        "fileName": true, // 코드가 포함된 파일명을 알려줌
        "displayName": true, // 클래스명에 해당 스타일 정보 추가
        "preprocess": false, // 실험 기능 이므로 꺼줌
        "pure": true // 사용하지 않은 속성 제거
      }
    ]
  ]
}
